/*-----------tourDetails------------*/
#tourDetails .big-title {
    font-size: 20px;
}
#tourList #form-search-tour{
    bottom: 0px;
}
#index #form-search-tour{
    bottom: 0px;
}

#tourList #form-search-tour{
    bottom: 0px;
}
#index #form-search-tour{
    bottom: 0px;
}

#tourList #form-search-tour{
    bottom: 70px;
}
#index #form-search-tour{
    bottom: 70px;
}