#tourDetails .page-head .fa-phone{

}
#tourDetails .page-head  .box-fa-phone{
    width: 95px;
    display: inline-block;
    text-align: right;
}
#tourDetails  .big-title{
    font-size: 30px;
}
#tourDetails .parallax-container{
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
}
#tourDetails .tour-single-sidebar-info-item {
    height: 140px;
}
#tourDetails .tab-1 li.nav-item {
    float: right;
    font-size: 16px;
}
#tourDetails #Services .service{
    display: inline-flex;
    padding: 0px 6px 0 6px;
}
#tourDetails  #Services .service img{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
#tourDetails #Services .service .title-service{
    position: relative;
    top: 7px;
}
#tourDetails #Services .list{
}
#tourDetails .icon-star-full2 .fa-star{
color: #ffd903;
}
#tourDetails .prices .plus{
    color: #ef3822;
    font-size: 17px;}
#tourDetails .images .fa-map-marker{
    font-size: 17px;
    color: #ef3822;
}
#tourDetails .tour-single-sidebar{
    border: 1px solid #ddd;
}
#tourDetails .logo-agency {
    width: 70px;
    margin: 0;
    border-radius: 100px;
    height: 70px;
}
#tourDetails ul.support li span{
    margin-right: 0px;
}
#tourDetails .logo-title{
    position: relative;
    bottom: 29px;
    right: 3px;
}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
#tourDetails {

}
.goTOp2 {
    bottom: 20px !important;
    left: 123px !important;
}
#tourDetails .big-title {
    font-size: 20px !important;
}
